/Operador.class
/OperadorAtrib.class
/OperadorComp.class
/OperadorEspec.class
/OperadorLogic.class
/OperadorM.class
/Operador.class
/OperadorAtrib.class
/OperadorComp.class
/OperadorEspec.class
/OperadorLogic.class
/OperadorM.class
